<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="static/start/css/styles.css">
     <script> src="static/start/js/script.js"</script>
    <title>AVL Firewall Solution</title>
</head>
<body>
    <div class="logo-area">
        <img src="static/start/media/blue-logo.jpg" alt="AVL logo">
    </div>
    <div class="loader"></div>
    <div class="get-button">
        <button onclick="window.location.href='{{ url_for('index') }}'" class="get-start-button">Get Started</button>
<!--        <a href="{{ url_for('index') }}" class="btn btn-primary"></a>-->
    </div>
</body>
</html>